<div class="lexgov-card">

  <div class="lexgov-title">Sense Tools</div>
  
  <div
    class="lexgov-tab"
    [class.active]="activeTab === 'Lexical Function'"
    (click)="selectTab('Lexical Function')">
    Lexical function
  </div>

  <div
    class="lexgov-tab"
    [class.active]="activeTab === 'Pattern government'"
    (click)="selectTab('Pattern government')">
    Government pattern
  </div>

  <div
    class="lexgov-tab"
    [class.active]="activeTab === 'Examples'"
    (click)="selectTab('Examples')">
    Examples
  </div>

</div>
